In [28]:
import pandas as pd
import os
from datetime import datetime
import openpyxl

raw = pd.read_csv("./rawfiles/CARD_SUBWAY_MONTH_202301.CSV")
raw.head()

       사용일자  노선명     역명  승차총승객수  하차총승객수      등록일자  Unnamed: 6
0  20230101  경강선    곤지암    1450    1539  20230104         NaN
1  20230101  2호선    신도림   20210   21037  20230104         NaN
2  20230101  2호선     문래    5995    6567  20230104         NaN
3  20230101  2호선  영등포구청    5629    6117  20230104         NaN
4  20230101  2호선     당산    6821    7594  20230104         NaN

In [12]:
raw = pd.DataFrame()
files = os.listdir("./rawfiles/")

for file in sorted(files):
    filePath = "./rawfiles/" + file
    tmp = pd.read_csv(filePath)
    raw = pd.concat([raw, tmp], ignore_index=True)
raw = raw.drop(labels=[raw.columns[-1]], axis=1)
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91647 entries, 0 to 91646
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    91647 non-null  int64
 1   노선명     91647 non-null  object
 2   역명      91647 non-null  object
 3   승차총승객수  91647 non-null  int64
 4   하차총승객수  91647 non-null  int64
 5   등록일자    91647 non-null  int64
dtypes: int64(4), object(2)
memory usage: 4.2+ MB

In [19]:
date = datetime.strptime("20230601", "%Y%m%d")
date.weekday()  # 월요일부터 시작

3

In [24]:
weekday = ["월", "화", "수", "목", "금", "토", "일"]
weekdayList = []

for dateStr in raw["사용일자"]:
    date = datetime.strptime(str(dateStr), "%Y%m%d")
    weekdayIndex = date.weekday()
    day = weekday[weekdayIndex]
    weekdayList.append(day)

In [26]:
raw["요일"] = weekdayList
raw.sample(5)

           사용일자  노선명  역명  승차총승객수  하차총승객수      등록일자 요일
14916  20230125  7호선  내방   14163   14450  20230128  수
33814  20230225  경의선  곡산     399     433  20230228  토
2668   20230105  7호선  천왕   12231   11605  20230108  목
40718  20230309  3호선  옥수    9960   10052  20230312  목
65886  20230419  경부선  오산   11556   11655  20230422  수

In [29]:
raw.to_excel("./subway_raw.xlsx", index=False)